In [1]:
import pandas as pd

note that pandas has 2 main datatypes namely; series and dataframe

# Series
Pandas series takes in a list and returns a 1D column of information

In [6]:
series = pd.Series(["Shoes", "Bags", "Gowns", "Shirt"])
series

0    Shoes
1     Bags
2    Gowns
3    Shirt
dtype: object

In [4]:
colors = ["Red", "Orange", "Pink", "Purple"]

# Dataframe
Pandas df takes in a dictionary with keys and items and returns a 2D 0bject

In [7]:
data = pd.DataFrame({"Clothes" : series, "Colors" : colors})
data

  Clothes  Colors
0   Shoes     Red
1    Bags  Orange
2   Gowns    Pink
3   Shirt  Purple

Let us now work with imported data

In [8]:
car_sales = pd.read_csv("car-sales.csv")
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

Let's learn how to export data

In [11]:
export = car_sales.to_excel("exported-car-sales.xlsx")

Note that if the file was being exported a s acsv file, we would want to set the index to false in order to avoid the given oindex when imported being exported as a new column. For instance:

car_sales.to_csv("exported-car-sales.csv", index=False)

Data can also be imported using a url

In [14]:
url_data = pd.read_csv("https://raw.githubusercontent.com/mrdbourke/zero-to-mastery-ml/master/data/heart-disease.csv")
url_data
export_url_data = url_data.to_excel("exported-url-data.xlsx")